<!DOCTYPE html>
<html lang="pt-br">


<head>
    <meta name="viewport" content="initial-scale=1.0,width=device-width,maximum-scale=1" />
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="copyright" content="Feito por Matheus Telles, todos os direitos reservados!">
    <meta name="description" content="Sikatrizes, feridas curam, sicatrizes são eternas.">
    <!--PAGE TITLE-->
    <title>Matheus Telles - Inicio</title>
    <!--GOOGLE FONT CSS-->
    <link rel='stylesheet' href='http://fonts.googleapis.com/css?family=Open+Sans%3A300%2C400%2C600' type='text/css' media='all' />
    <link rel='stylesheet' href='http://fonts.googleapis.com/css?family=Six+Caps' type='text/css' media='all' />
    <link rel="shortcut icon" href="{{url_for('static', filename = 'assets/images/favicon.ico')}}" />
    <!--LOCAL CSS-->
    <link rel='stylesheet' href="{{url_for('static', filename = 'assets/zoom_box/zoom_box.css')}}" type='text/css' media='all' />
    <link rel='stylesheet' href="{{url_for('static', filename = 'assets/css/style.css')}}" type='text/css' media='all' />
    <link rel='stylesheet' href="{{url_for('static', filename = 'assets/css/respond.css')}}" type='text/css' media='all' />
    <link rel='stylesheet' href="{{url_for('static', filename = 'assets/font-awesome-4.3.0/css/font-awesome.min.css')}}" type='text/css' media='all' />
    <link rel='stylesheet' href="{{url_for('static', filename = 'assets/css/background.css')}}" type='text/css' media='all' />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
    <script type='text/javascript' src="{{url_for('static', filename='assets/scripts/jquery-3.5.1.min.js')}}"></script>
    <link rel="stylesheet" href="sweetalert2.min.css">
    <!--SITE URL SETTING FOR AJAX REQUESTS-->
    <script>
        var siteUrl = 'http://mwtelles.com';
    </script>
</head>
{% block head %} {% endblock %}