{% extends 'base.html' %} {% block head %}

<body class="archive category category-videos category-5 ajax-on">
    <div id="contentContainer">
        <!--LOGO-->
        <a id="logo" href="/"><img src="{{url_for('static', filename = 'assets/images/sikatrizes.png')}}" alt="Sikatrizes por Matheus Telles" /></a>
        <!--end logo-->
        <!--MENU CONTROL-->
        <div id="menu-control"><span></span></div>
        <!--AJAX CONTAINER-->
        <div id="ajax-content">
            <!--PAGE INFO FOR UPDATING BODY CLASS AND DOC TITLE-->
            <div id="page-info" data-page-title="" class="archive category category-videos category-5 ajax-on"></div>
            <div class="posts-container">
                <div id="slide-right" class="slide-nav"><span></span></div>
                <div id="slide-left" class="slide-nav"><span></span></div>
                <h1 class="entrytitle">Categoria</h1>
                <div class="scroll-wrapper">
                    <div class="scroll-this">
                        {% for i in categories_id.get_video_category_id() %}
                        <div class="post">
                            <div class="image-container">
                                <!--PLAY BUTTON--><a class="post-video" href="/categories/{{categories_id.getId()}}/videos/{{i.getId()}}"><i class="fa fa-play"></i></a><img src="{{i.getThumb()}}" alt="" /></div>
                            <div class="postInfo">
                                <h2 class="posttitle">{{i.getTitle()}}</h2>
                                <p>{{i.getDescription()}}</p>
                                <p id="views">Visualizações:&nbsp{{i.getViews()}}</p>
                                <p id="views">Curtidas:&nbsp{{i.getLikes()}}</p>
                                <a id="link-comment" data-title="Comment" href="#"><i onclick="comment(this)" class="fa fa-comment" rel="popover" title="2000" data-content="Likes" style="display:inline-block;"></i></a>
                                <a href="/categories/{{categories_id.getId()}}/videos/{{i.getId()}}"><button class="btn btn-sucess">ssssss</button></a>
                            </div>
                            <!--end postInfo-->
                        </div>
                        {% endfor %}
                        <!--end post-->
                    </div>
                    <!--end scroll-this-->
                </div>
                <!--end scroll-wrapper-->
            </div>
            <!--end posts-container-->
            <!--VIDEO HOLDER-->
            <div class="videoContainer">
                <div class="closeVideo">&times;</div>
            </div>
        </div>
        <!--END AJAX CONTAINER-->
        <!--FULL SEARCH BAR-->
        <form role="search" method="get" id="full-search" action="http://mwtelles.com/"><input type="text" value="Search Site..." onfocus="this.value='';" name="s" id="big-input" /></form>
        <!--AUDIO PLAYER-->
        <div id="audioControl" class="paused"><span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span></div><audio id="audioPlayer">  <source src="{{url_for('static', filename = 'assets/music/sharingan.mp3')}}" type="audio/mpeg"></audio>
        <!--SOCIAL ICONS-->
        {% include'social_icons.html'%} {% block social_icons %} {% endblock %}
        <!--IMAGE SLIDESHOW-->
        <div id="headerImages"></div>
        <!--LOADING ANIMATION-->
        <div id="loading-page"></div>
        <!--CONTENT COVER-->
        <div id="contentCover"></div>
    </div>
    <!--end contentContainer-->
    {% include 'footer.html' %} {% block footer %} {%endblock%} {% include 'menu.html'%} {% block menu %} {% endblock%} {% include 'scripts.html' %} {% block scripts %} {% endblock %}
</body>
{%endblock%}

</html>