{% extends 'base.html' %} {% block head %}

<body class="post-template-default single single-post postid-244 single-format-standard ajax-on">

    <div id="contentContainer">

        <!--LOGO-->
        <a id="logo" href="/"><img src="{{url_for('static', filename = 'assets/images/sikatrizes.png')}}" alt="Sikatrizes por Matheus Telles" /></a>
        <!--end logo-->

        <!--MENU CONTROL-->
        <div id="menu-control"><span></span></div>

        <!--AJAX CONTAINER-->
        <div id="ajax-content">

            <!--PAGE INFO FOR UPDATING BODY CLASS AND DOC TITLE-->
            <div id="page-info" data-page-title="Sikatrizes  " class="post-template-default single single-post postid-244 single-format-standard ajax-on"></div>

            <div id="pageContent" class="entry post-page">
                <h1 id="page-title">{{videory.getTitle()}}</h1>
                <video class="singleVid" width="500" height="280" controls><source src="{{videory.getUrl_video()}}">Your browser does not support the video tag.</video>
                <p>{{videory.getDescription()}}<a style="float: right;" id="link-thumb-like" data-title="Like" href="#"><i onclick="like(this)" class="fa fa-thumbs-up"></i></a></p>

                <div id="post-details">
                    <span>CURTIDAS <a href="#">Maio 2020</a></span> <span>CATEGORIA <a href="#" rel="category tag">{{category.getName()}}</a></span></div>

                <a href="#" rel="prev">Próximo &rarr;</a>
                <div id="commentsection">


                    <!--IF THERE ARE COMMENTS-->
                    <h3 id="comments">6 Comentários</h3>

                    <ol class="commentlist">
                        <li class="comment byuser comment-author-themolitor bypostauthor even thread-even depth-1 parent" id="comment-8">
                            <div id="div-comment-8" class="comment-body">
                                <div class="comment-author vcard">
                                    <img alt='' src="{{url_for('static', filename = 'assets/images/avatar/itachi.jpg')}}" class='avatar avatar-90 photo' height='90' width='90' /> <cite class="fn">Itachi</cite> <span class="says">:</span> </div>

                                <div class="comment-meta commentmetadata"><a href="#">
									Maio 2020 ás 20:41				</a>
                                </div>

                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse venenatis sodales odio quis ultricies. Vestibulum ornare egestas mi id convallis.</p>

                                <div class="reply"><a rel='nofollow' class='comment-reply-link' href='#' data-commentid="8" data-postid="244" data-belowelement="div-comment-8" data-respondelement="respond" aria-label='Reply to themolitor'>Responder</a></div>
                            </div>
                            <ul class="children">
                                <li class="comment byuser comment-author-themolitor bypostauthor odd alt depth-2 parent" id="comment-11">
                                    <div id="div-comment-11" class="comment-body">
                                        <div class="comment-author vcard">
                                            <img alt='' src="{{url_for('static', filename = 'assets/images/avatar/itachi.jpg')}}" class='avatar avatar-90 photo' height='90' width='90' /> <cite class="fn">Itachi</cite> <span class="says">:</span> </div>

                                        <div class="comment-meta commentmetadata"><a href="#">
											Maio 2020 ás 20:41				</a>
                                        </div>

                                        <p>Pellentesque efficitur tempus viverra. Nullam auctor nulla dui, rhoncus pulvinar turpis pharetra eu. In tincidunt lobortis tortor vel congue. Suspendisse gravida consequat est, ut pharetra risus dapibus vitae. Vivamus
                                            placerat in lacus id malesuada.</p>

                                        <div class="reply"><a rel='nofollow' class='comment-reply-link' href='#' data-commentid="11" data-postid="244" data-belowelement="div-comment-11" data-respondelement="respond" aria-label='Reply to themolitor'>Responder</a></div>
                                    </div>
                                    <ul class="children">
                                        <li class="comment byuser comment-author-themolitor bypostauthor even depth-3" id="comment-13">
                                            <div id="div-comment-13" class="comment-body">
                                                <div class="comment-author vcard">
                                                    <img alt='' src="{{url_for('static', filename = 'assets/images/avatar/itachi.jpg')}}" class='avatar avatar-90 photo' height='90' width='90' /> <cite class="fn">Itachi</cite> <span class="says">:</span>                                                    </div>

                                                <div class="comment-meta commentmetadata"><a href="#">
													Maio 2020 ás 20:41				</a>
                                                </div>

                                                <p>Suspendisse gravida consequat est, ut pharetra risus dapibus vitae. Vivamus placerat in lacus id malesuada.</p>

                                                <div class="reply"><a rel='nofollow' class='#' data-commentid="13" data-postid="244" data-belowelement="div-comment-13" data-respondelement="respond" aria-label='Reply to themolitor'>Responder</a></div>
                                            </div>
                                        </li>
                                        <!-- #comment-## -->
                                    </ul>
                                    <!-- .children -->
                                </li>
                                <!-- #comment-## -->
                                <li class="comment byuser comment-author-themolitor bypostauthor odd alt depth-2" id="comment-12">
                                    <div id="div-comment-12" class="comment-body">
                                        <div class="comment-author vcard">
                                            <img alt='' src="{{url_for('static', filename = 'assets/images/avatar/itachi.jpg')}}" class='avatar avatar-90 photo' height='90' width='90' /> <cite class="fn">Itachi</cite> <span class="says">:</span> </div>

                                        <div class="comment-meta commentmetadata"><a href="#">
											Maio 2020 ás 20:41				</a>
                                        </div>

                                        <p>Vivamus placerat in lacus id malesuada. Vestibulum ornare egestas mi id convallis. Pellentesque efficitur tempus viverra. Nullam auctor nulla dui, rhoncus pulvinar turpis pharetra eu. In tincidunt lobortis tortor
                                            vel congue. Suspendisse gravida consequat est, ut pharetra risus dapibus vitae.</p>

                                        <div class="reply"><a rel='nofollow' class='comment-reply-link' href='#' data-commentid="12" data-postid="244" data-belowelement="div-comment-12" data-respondelement="respond" aria-label='Reply to themolitor'>Responder</a></div>
                                    </div>
                                </li>
                                <!-- #comment-## -->
                            </ul>
                            <!-- .children -->
                        </li>
                        <!-- #comment-## -->
                        <li class="comment byuser comment-author-themolitor bypostauthor even thread-odd thread-alt depth-1" id="comment-9">
                            <div id="div-comment-9" class="comment-body">
                                <div class="comment-author vcard">
                                    <img alt='' src="{{url_for('static', filename = 'assets/images/avatar/itachi.jpg')}}" class='avatar avatar-90 photo' height='90' width='90' /> <cite class="fn">Itachi</cite> <span class="says">:</span> </div>

                                <div class="comment-meta commentmetadata"><a href="#">
									Maio 2020 ás 20:41				</a>
                                </div>

                                <p>In tincidunt lobortis tortor vel congue. Suspendisse gravida consequat est, ut pharetra risus dapibus vitae. Vivamus placerat in lacus id malesuada.</p>

                                <div class="reply"><a rel='nofollow' class='comment-reply-link' href='#' data-commentid="9" data-postid="244" data-belowelement="div-comment-9" data-respondelement="respond" aria-label='Reply to themolitor'>Responder</a></div>
                            </div>
                        </li>
                        <!-- #comment-## -->
                        <li class="comment byuser comment-author-themolitor bypostauthor odd alt thread-even depth-1" id="comment-10">
                            <div id="div-comment-10" class="comment-body">
                                <div class="comment-author vcard">
                                    <img alt='' src="{{url_for('static', filename = 'assets/images/avatar/itachi.jpg')}}" class='avatar avatar-90 photo' height='90' width='90' /> <cite class="fn">Itachi</cite> <span class="says">:</span> </div>

                                <div class="comment-meta commentmetadata"><a href="#">
									Maio 2020 ás 20:41				</a>
                                </div>

                                <p>Vestibulum ornare egestas mi id convallis. Pellentesque efficitur tempus viverra. Nullam auctor nulla dui, rhoncus pulvinar turpis pharetra eu. In tincidunt lobortis tortor vel congue. Suspendisse gravida consequat est,
                                    ut pharetra risus dapibus vitae. Vivamus placerat in lacus id malesuada.</p>

                                <div class="reply"><a rel='nofollow' class='comment-reply-link' href='#' data-commentid="10" data-postid="244" data-belowelement="div-comment-10" data-respondelement="respond" aria-label='Reply to themolitor'>Responder</a></div>
                            </div>
                        </li>
                        <!-- #comment-## -->
                    </ol>

                    <div class="navigation">
                        <div class="alignleft"></div>
                        <div class="alignright"></div>
                    </div>
                    {% include 'reply.html'%} {% block reply %} {% endblock %}
                    <!-- end-reply -->

                </div>
                <!--end comment-section-->
            </div>

            <div class="page-image-container-reply"><img src="{{url_for('static', filename = 'assets/images/sky.jpg')}}" rel="prev"><span></span></a>
            </div>
            <!--CLOSE AJAX CONTENT-->

            <!--FULL SEARCH BAR-->
            <form role="search" method="get" id="full-search" action="#">
                <input type="text" value="Pesquisar..." onfocus="this.value='';" name="s" id="big-input" />
            </form>

            <!--AUDIO PLAYER-->
            <div id="audioControl" class="paused">
                <span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span>
            </div>
            <audio id="audioPlayer">
	  <source src="{{url_for('static', filename = 'assets/music/Journey.mp3')}}" type="audio/mpeg">
	</audio>

            <!--SOCIAL ICONS-->
            {% include 'social_icons.html'%} {% block social_icons %} {% endblock %}

            <!--IMAGE SLIDESHOW-->
            <div id="headerImages">
                <div class="header-image-comment activeBg"><img src="{{url_for('static', filename = 'assets/images/sky.jpg')}}" alt=""></div>
            </div>
            <!--end headerImages-->

            <!--LOADING ANIMATION-->
            <div id="loading-page"></div>

            <!--CONTENT COVER-->
            <div id="contentCover"></div>

        </div>
        <!--end contentContainer-->
        {% include 'menu.html'%} {% block menu %} {% endblock%} {% include 'scripts.html' %} {% block scripts %} {% endblock %}

        <script>
            jQuery(document).ready(function() {

                ////////////////
                //INTERVAL SETUP
                ////////////////
                reviewinterval = '';
                headerinterval = '';

                //////////////////
                //REVIEWS INTERVAL -- runReviews
                //////////////////
                function runReviews() {
                    if (jQuery('.review').length > 1) {
                        clearInterval(reviewinterval);
                        reviewinterval = setInterval(function() {
                            reviewsSlideshow();
                        }, 8000);
                    } else {
                        clearInterval(reviewinterval);
                    }
                }

                function runHeader() {
                    if (headerImage.length > 1 && !theBody.hasClass('stopSlideshow')) {
                        clearInterval(headerinterval);
                        headerinterval = setInterval(function() {
                            imageSlideshow();
                        }, 8000);
                    } else {
                        clearInterval(headerinterval);
                    }
                }

                //////////////////////////////
                //RUN SCRIPTS AFTER AJAX LOADS -- ajaxComplete
                //////////////////////////////
                jQuery(document).ajaxComplete(function() {
                    bodyCheck();
                    runReviews();
                    runHeader();

                });


                /////////////
                //WINDOW LOAD -- load
                /////////////
                jQuery(window).load(function() {

                    if (!jQuery('body').hasClass('mobile-device')) playAudio();

                    //RUN FUNCTIONs
                    bodyCheck();
                    runHeader();
                    runReviews();
                });
            });
        </script>

</body>
{% endblock %}

</html>