{% block footer %}
<!-- Footer Start -->
<div id="footerContainer">
    <div id="footer">

        <!--CREDITS-->
        <div id="vys-credits">
            <!--FOOTER LOGO-->
            <a id="footer-logo" href="https://www.mwtelles.com"><img src="{{url_for('static', filename = 'assets/images/telles.png')}}" alt="Matheus Telles" /></a>
        </div>
        <div id="copyright">&copy; 2020 <a target="_blank" href="http://mwtelles.com/">&nbsp&nbspMATHEUS TELLES</a>&nbsp&nbsptodos os direitos reservados</div>
    </div>
    <!--end footer-->
</div>
<!--end footerContainer-->
{% endblock %}