{% extends 'base.html' %} {% block head %}

<body class="home page page-template-page-reviews ajax-on">
    <div id="contentContainer">
        <!--LOGO-->
        <a id="logo" href="/"><img src="{{url_for('static', filename = 'assets/images/sikatrizes.png')}}" alt="Sikatrizes por Matheus Telles" /></a>
        <!--end logo-->
        <!--MENU CONTROL-->
        <div id="menu-control"><span></span></div>
        <!--end MENU CONTROL-->
        <!--AJAX CONTAINER-->
        <div id="ajax-content">
            <!--PAGE INFO / UPDATING BODY CLASS AND DOC TITLE-->
            <div id="page-info" data-page-title="" class="home page page-template-page-reviews ajax-on"></div>
            <!--PLAY BUTTON--><a class="videoLink" id="130" href="#"><i class="fa fa-play"></i></a>
            <!--VIDEO CONTAINER-->
            <div class="videoContainer self-video" id="video130" data-vidid="{{url_for('static', filename = 'assets/videos/astroworld.mp4')}}">
                <div class="closeVideo">&times;</div>
            </div>

        </div>
        <!--END AJAX CONTAINER-->
        <!--SEARCH BAR-->
        <form role="search" method="get" id="full-search" action="">
            <input type="text" value="Pesquisar..." onkeyup="searchVideo(this.value)" onfocus="this.value='';" name="s" id="big-input" />
        </form>
        <!--MUSIC PLAYER-->
        <div id="audioControl" class="paused"><span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span></div><audio id="audioPlayer">  <source src="{{url_for('static', filename = 'assets/music/konoha.mp3')}}" type="audio/mpeg"></audio>
        <!--SOCIAL ICONS-->
        {% include 'social_icons.html'%} {% block social_icons %} {% endblock %}
        <!--IMAGE SLIDESHOW-->
        <div id="headerImages" class="fs-background-element fs-background">
            <div class="fs-background-container">
                <div class="fs-background-media fs-background-animated" style="height: 700px; opacity: 1; width: 100%; left: 0px;">
                    <video autoplay loop muted>
                        <source src="{{url_for('static', filename = 'assets/videos/astroworld.mp4')}}" type="video/mp4">
                        </video>
                </div>
            </div>
        </div>
        <!--LOADING ANIMATION-->
        <div id="loading-page"></div>
        <!--CONTENT COVER-->
        <div id="contentCover"></div>
    </div>
    <!--end contentContainer-->
    <!-- Footer Start -->
    <div id="footerContainer">
        <div id="footer">
            <div class="container" style="padding: 100px; margin-bottom: 310px;">
                <div class="posts-container">
                    <div class="row">
                        <div class="column-dropdown" style="    margin-left: 120px;
                        margin-top: -58px;
                        padding-bottom: 35px;
                        /* padding-top: 50px; */
                    ">
                            <style>
                                /* Style The Dropdown Button */
                                
                                .dropbtn {
                                    background-color: #3a3a3a00;
                                    color: white;
                                    padding: 16px;
                                    font-size: 16px;
                                    border: none;
                                    cursor: pointer;
                                }
                                /* The container <div> - needed to position the dropdown content */
                                
                                .dropdown {
                                    position: relative;
                                    display: inline-block;
                                }
                                /* Dropdown Content (Hidden by Default) */
                                
                                .dropdown-content {
                                    display: none;
                                    position: absolute;
                                    background-color: #f9f9f9;
                                    min-width: 160px;
                                    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
                                    z-index: 100;
                                }
                                /* Links inside the dropdown */
                                
                                .dropdown-content a {
                                    color: black;
                                    padding: 12px 16px;
                                    text-decoration: none;
                                    display: block;
                                }
                                /* Change color of dropdown links on hover */
                                
                                .dropdown-content a:hover {
                                    background-color: #f1f1f1
                                }
                                /* Show the dropdown menu on hover */
                                
                                .dropdown:hover .dropdown-content {
                                    display: block;
                                }
                                /* Change the background color of the dropdown button when the dropdown content is shown */
                                
                                .dropdown:hover .dropbtn {
                                    background-color: #3a3a3a00;
                                }
                            </style>

                            <div class="dropdown">
                                <button class="dropbtn"><i class="fas fa-caret-down"></i></i></button>
                                <div class="dropdown-content">
                                    {% for i in category_list%}
                                    <a href="/categories/{{i.getId()}}" style="color: #000000;">{{i.getName()}}</a> {% endfor %}
                                </div>
                            </div>

                            <h1 class="entrytitle">Categorias</h1>
                        </div>
                    </div>
                    <div class="scroll-wrapper">
                        <div class="scroll-this" id="videos">
                            {% for i in videora [:3] %}
                            <div class="post">
                                <div class="image-container">
                                    <!--PLAY BUTTON--><a class="post-video" data-vidtype="self-video" data-vidid="{{url_for('static', filename = 'assets/videos/culture.mp4')}}" href="#"><i class="fa fa-play"></i></a><img src="{{i.getThumb()}}" alt="" /></div>
                                <div class="postInfo">
                                    <h2 class="posttitle">{{i.getTitle()}}</h2>
                                    <p>{{i.getDescription()}}</p>
                                    <span style="font-size: 14px;"><i class="fa fa-thumbs-up">&nbsp</i> <a href="#" id="countLikes">{{i.getLikes()}}</a></span>
                                    <span style="font-size: 14px;"><i class="fa fa-eye"></i>&nbsp&nbsp<a href="#">{{i.getViews()}}</a></span>
                                    <span style="font-size: 14px;"><i class="fa fa-calendar"></i>&nbsp&nbsp<a href="#">{{i.getDate()}}</a></span>
                                </div>
                                <!--end postInfo-->
                            </div>
                            <!--end post-->
                            {% endfor %}
                        </div>
                        <!--end scroll-this-->

                    </div>
                    <!--end scroll-wrapper-->
                </div>
            </div>
            <!--CREDITS-->
            <div id="vys-credits">
                <!--FOOTER LOGO-->
                <a id="footer-logo" href="https://www.mwtelles.com"><img src="{{url_for('static', filename = 'assets/images/telles.png')}}" alt="Matheus Telles" /></a>
            </div>
            <!--end vys-credits-->

            <!--COPYRIGHT NOTICE-->
            <div id="copyright">&copy; 2020 <a target="_blank" href="http://mwtelles.com/">&nbsp&nbspMATHEUS TELLES</a>&nbsp&nbsptodos os direitos reservados</div>
        </div>
        <!--end footer-->
    </div>
    <!--end footerContainer-->
    {% include 'menu.html'%} {% block menu %} {% endblock %} {% include 'scripts.html' %} {% block scripts %} {% endblock %}
    <script type="application/javascript">
        var searchVideo = function(text) {
            var xhttp = new XMLHttpRequest();
            xhttp.onreadystatechange = function() {
                if (this.readyState == 4 && this.status == 200) {
                    data = this.response;
                    data = JSON.parse(data)
                    if (data.length > 0) {
                        $('#videos').html('')
                        for (let i = 0; i < data.length; i++) {
                            const video = data[i];
                            $('#videos').append(`<div class="post">
                                <div class="image-container">
                                    <!--PLAY BUTTON--><a class="post-video" data-vidtype="self-video" data-vidid="/static/` + video._thumb + `" href="#"><i class="fa fa-play"></i></a><img src="` + video._thumb + `" alt="" /></div>
                                <div class="postInfo">
                                    <h2 class="posttitle">` + video._title + `</h2>
                                    <p>` + video._description + `</p>
                                    <span style="font-size: 14px;"><i class="fa fa-thumbs-up">&nbsp</i> <a href="#" id="countLikes">` + video._likes + `</a></span>
                                    <span style="font-size: 14px;"><i class="fa fa-eye"></i>&nbsp&nbsp<a href="#">` + video._views + `</a></span>
                                    <span style="font-size: 14px;"><i class="fa fa-calendar"></i>&nbsp&nbsp<a href="#">` + video._date + `</a></span>
                                </div>
                                <!--end postInfo-->
                            </div>`)
                        }
                    }
                }
            };
            xhttp.open("GET", "/video/search?text=" + text + "", true);
            xhttp.send();
        }
    </script>
</body>
{% endblock %}

</html>