{% block reply %}
<style>
    .btn {
        border: 2px solid black;
        background-color: transparent;
        color: black;
        padding: 11px 22px;
        font-size: 14px;
        cursor: pointer;
    }
    /* Green */
    
    .success {
        border-color: rgb(70, 70, 70);
        color: rgb(172, 171, 171);
    }
    
    .success:hover {
        background-color: rgb(70, 70, 70);
        color: white;
    }
    
    .like {
        border: none;
        color: #fff;
        border-radius: 60%;
        background-color: rgba(255, 255, 255, 0.116);
        float: right;
        width: 60px;
        height: 60px;
    }
    
    .like:hover {
        border-radius: 60%;
        background-color: rgba(26, 218, 20, 0.644);
        color: white;
        font-size: 14px;
        -webkit-transform: scale(1.1);
        -moz-transform: scale(1.1);
        -ms-transform: scale(1.1);
        -o-transform: scale(1.1);
        transform: scale(1.1);
    }
</style>
<div id="respond" class="comment-respond">
    <h3 id="reply-title" class="comment-reply-title">Deixe um comentário <small><a rel="nofollow" id="cancel-comment-reply-link" href="#" style="display:none;">Cancelar</a></small></h3>
    <p class="comment-notes"><span id="email-notes">Deixe um feedback</span> ou uma crítica construtiva! <span class="required">*</span></p>
    <p><textarea name="comment" id="comment" cols="100%" rows="10" tabindex="4"></textarea></p>
    <p><a><button class="btn success" id="sendComment" onclick="comment_video()">Comentar</button></a></p>
</div>

<script>
    // CREATE COMMENT
    var comment_video = function() {
        var btn_comment = document.getElementById('sendComment')
        var comment = document.getElementById('comment')
        var xhttp = new XMLHttpRequest();

        xhttp.onreadystatechange = function() {
            if (this.readyState == 4 && this.status == 200) {
                console.log(this.response)
                data = this.response;
                data = JSON.parse(data)
                $('#commentei').append(`<li id="id_comment-` + data.id + `" class="comment byuser comment-author even thread-even depth-1 parent">

                    <div id="div-comment-8" class="comment-body">
                        <div class="comment-author vcard">
                            <img alt='' src="{{url_for('static', filename = 'assets/images/avatar/itachi.jpg')}}" class='avatar avatar-90 photo' height='90' width='90' /> <cite class="fn">Anonimo</cite> <span class="says">:</span>
                        </div>
                        <p>` + data.text + `</p>
                        <i class='fa fa-trash' onclick="delete_commentary( ` + data.id + ` )"></i>
                    </div>

                </li>`);
                comment.value = '';
            }
        }
        xhttp.open("GET", "/video/comment?id_video={{videory.getId()}}&comment=" + comment.value, true);
        xhttp.send();
    }

    //DELETE COMMENT
    var delete_commentary = function(comment_id) {
        console.log('fodase')
        var btn_comment = document.getElementById('sendComment')
        var comment = document.getElementById('commentei')
        var xhttp = new XMLHttpRequest();

        xhttp.onreadystatechange = function() {
            if (this.readyState == 4 && this.status == 200) {
                console.log(this.response)
                data = this.response;
                data = JSON.parse(data)
                if (data === true) {
                    document.getElementById('id_comment-' + comment_id).remove();
                }
            }
        }
        xhttp.open("GET", "/video/comment/delete/?id_video={{videory.getId()}}&id_comment=" + comment_id, true);
        console.log(comment_id)
        xhttp.send();
    }
</script>
{% endblock %}