{% block scripts %}
<!--JavaScript-->
<script type='text/javascript' src="{{url_for( 'static', filename='assets/scripts/jquery.js' )}} "></script>
<script type='text/javascript' src="{{url_for( 'static', filename='assets/zoom_box/zoom_box.js' )}} "></script>
<script type='text/javascript' src="{{url_for( 'static', filename='assets/scripts/core.js' )}} "></script>
<script type='text/javascript' src="{{url_for( 'static', filename='assets/scripts/transition.js' )}} "></script>
<script type='text/javascript' src="{{url_for( 'static', filename='assets/scripts/background.js' )}} "></script>
<script type='text/javascript' src="{{url_for( 'static', filename='assets/scripts/spin.js' )}} "></script>
<script type='text/javascript' src="{{url_for( 'static', filename='assets/scripts/custom.js' )}} "></script>
<script type='text/javascript' src="{{url_for( 'static', filename='assets/scripts/retina.js' )}} "></script>
<script type='text/javascript' src="{{url_for( 'static', filename='assets/scripts/modals.js' )}} "></script>
<script type='text/javascript' src="{{url_for( 'static', filename='assets/scripts/comment-reply.min.js' )}} "></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@9 "></script>

{% endblock %}