{% block social_icons %}
<!--SOCIAL ICONS-->
<div id="socialIcons">
    <!--a id="link-github" data-title="Comment" href="#"><i onclick="comment(this)" class="fa fa-comment"></i></a>
    <a id="link-thumb-like" data-title="Like" href="#"><i onclick="like(this)" class="fa fa-thumbs-up"></i></a>
    <a id="link-thumb-deslike" data-title="Deslike" href="#"><i onclick="deslike(this)" class="fa fa-thumbs-down"></i></a-->
    <a id="link-search" rel="search" data-title="Search" href="#"><i class="fa fa-search"></i></a>
</div>
{% endblock %}